student{
font-family: verdana; margin-left: 10px; background-color:white; color:tomato; width:100%;
font-size: 20px;
}
rollno { color:rgb(170, 255, 0);
}
name { color:rgb(255, 157, 0);
 
font-weight: bold;
}
branch { color:red;
}  YOJ {
padding: 0.5px;
}
email { color:green;
font-weight: bold;
}

